---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardAbout from "../components/CardAbout.astro";
import CardOfertaTeologica from "../components/CardOfertaTeologica.astro";
import iglesia from '../assets/Iglesia.jpg'
import cruz from '../assets/cruz.svg'
---

<BaseLayout title="IGLEPS">
  <section
    class="flex flex-col gap-8 items-center justify-center w-full h-screen bg-cover bg-center"
    style=`background: linear-gradient(to right, rgba(1, 6, 26, 0.8), rgba(1, 6, 26, 0.8)), url(${iglesia}); background-position: center;`
  >
    <h1 class="flex flex-col items-center font-bold gap-8">
      <span
        class="text-rose-600 text-base md:text-xl lg:text-2xl text-center tracking-[.4em] uppercase"
        >Bienvenidos a</span
      >
      <span
        class="text-white leading-8 text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >Iglesia Evangélica Pentecostés</span
      >
      <span
        class="text-white text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >"El Buen Samaritano"</span
      >
      <span
        class="text-white text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >IGLEPS</span
      >
    </h1>
    <p class="text-white text-xs md:text-base lg:text-xl text-center">
      Aquí usted, se sentira amado y ayudado.
    </p>
  </section>

  <!-- Sobre Nosotros -->
  <section
    class="flex flex-col w-full gap-8 lg:flex-row lg:gap-16 h-auto p-8 lg:p-20"
  >
    <CardAbout
      icon="fa-solid fa-book-bible"
      title="Modelo Bíblico"
      text="El modelo bíblico de trabajo de IGLEPS es la persona de Jesucristo y, toma como base bíblica para quehacer eclesial y pastoral, el texto de San Lucas 10: 25-37."
    />
    <CardAbout
      icon="fa-solid fa-bullseye"
      title="Misión"
      text="Ensanchar el reino de Dios en la Tierra, por medio de la predicación y enseñanza de la palabra de Dios para la edificación de los creyentes y buena noticia de salvación para todas y todos. Acompañar a través del discipulado cristiano y consejería pastoral, procesos de restauración espiritual para las familias e individuos, con el fin de que se conviertan en hombres y mujeres de bien y propositivos en sus respectivos hogares, iglesias y comunidades. Formar su liderazgo en ciencias bíblicas y teológicas, para que este, sea íntegro, y apto en el desarrollo de sus funciones pastorales y eclesiales."
    />
    <CardAbout
      icon="fa-solid fa-paper-plane"
      title="Visión"
      text="Crecer cualitativa y cuantitativamente y fortalecer en todos los aspectos, con un liderazgo propositivo y bien capacitado en biblia, teología y pastoral, así como en otras ciencias humanísticas que se interesan por el ser humano y su contexto de vida. Ser reconocida a nivel nacional e internacional por su manera de ser y de hacer su trabajo pastoral y eclesial a favor del ser humano y de su entorno."
    />
  </section>

  <section
    class="flex flex-col w-full gap-20 lg:flex-row justify-between h-auto p-8 lg:px-20 lg:py-0 bg-gray-100"
  >
    <div
      class=`h-[60vh] md:w-full lg:w-[50vw] md:h-[60vh] lg:h-auto bg-cover bg-center bg-blue-300 bg-blend-darken`
      style=`background-image: url(${iglesia});`

    >
    </div>
    <article class="flex flex-col gap-8 lg:w-1/2 scroll-m-1 lg:py-20">
      <span class="text-rose-600">Bienvenidos a IGLEPS</span>
      <h2 class="text-2xl lg:text-4xl uppercase font-bold tracking-[.3em]">
        Conoce un poco de nuestra Historia
      </h2>
      <p class="leading-8 text-justify">
        IGLEPS Inicia su obra como organización cristiana, el <span
          class="font-bold text-rose-600">14 de abril de 1989</span
        >, en la República de Honduras centroamérica, bajo la dirección del
        reverendo Miguel Ángel Úbeda Quezada A quien Dios le hace sentir la
        necesidadde establecer una organización cristianaque dé fe del evangelio
        de jesucristoy acompañe los procesos de vida de las personas que
        necesitanla gracia de Dios, de acuerdo a los principios y valores del
        reino de Dios.
      </p>
      <a
        class="w-32 text-white bg-rose-600 hover:bg-rose-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-rose-600 dark:hover:bg-rose-800"
        >Leer Más</a
      >
    </article>
  </section>
  <section
    class="flex flex-col lg:flex-row items-center justify-between h-auto p-8 lg:p-20 bg-rose-600"
  >
    <h2
      class="text-white text-xl lg:text-2xl font-bold text-center py-8 lg:p-0 uppercase"
    >
      Compartir el evangelio con el mundo
    </h2>
    <article class="text-white text-center p-8 lg:p-0">
      <h3 class="text-3xl font-bold">1500</h3>
      <p>MIEMBROS</p>
    </article>
    <article class="text-white text-center p-8 lg:p-0">
      <h3 class="text-3xl font-bold">59</h3>
      <p>PASTORES</p>
    </article>
    <article class="text-white text-center p-8 lg:p-0">
      <h3 class="text-3xl font-bold">50</h3>
      <p>IGLESIAS</p>
    </article>
  </section>

  <!-- Oferta Académica -->
  <section class="w-full p-8 lg:pt-20">
    <h2 class=`text-2xl lg:text-4xl font-bold uppercase text-center py-6 pb-2 md:pb-2 md:py-8 lg:py-10 bg-[url(${cruz})] bg-no-repeat bg-center`>
      Conoce nuestras ofertas teológicas
    </h2>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-16 justify-center flex-wrap w-full p-8 lg:p-20 bg-gray-100">
    <CardOfertaTeologica
      title="Diploma en Estudios Pastorales"
      duration="3 años"
      requirements={new Array(
        "Ser Pastor o Pastora.",
        "Ser Lider aspirante al ministerio.",
        "Tener la primaria como mínimo."
      )}
      studyPlan={new Array({
        year: "1° año",
        subjects: new Array(
          "Introducción a la Biblia.",
          "Homilética I.",
          "Teología bíblica y sistemática I.",
          "Hermenéutica I.",
          "Español I.",
          "Reglamento general",
          "Eclesiología",
          "Teología práctica / Culto cristiano"
        ),
      },
      {
        year: "2° año",
        subjects: new Array(
          "Historia del cristianismo.",
          "Homilética II.",
          "Teología bíblica y sistemática II.",
          "Hermenéutica II.",
          "Español II.",
          "Ética pastoral",
          "Evangelismo y discipulado.",
          "Introducción al Antiguo Testamento."
        ),
      },
      {
        year: "2° año",
        subjects: new Array(
          "Introducción al Nuevo Testamento.",
          "Introducción a la teología.",
          "Introducción a la filosofía.",
          "Teología bíblica y sistemática III.",
          "Consejería pastoral.",
          "Apologética cristiana.",
          "Aministración pastoral y eclesial.",
          "El Pastor, Forjador de Nuevos Pastores."
        ),
      }
      )}
    />
    <CardOfertaTeologica
      title="Diploma en Estudios de Educación Cristiana"
      duration="1 año"
      requirements={new Array(
        "Saber leer y escribir.",
        "Ser lider o miembro de la iglesia.",
        "Ser Pastor o Pastora."
      )}
      studyPlan={new Array({
        year: "",
        subjects: new Array(
          "Panorama de la biblia.",
          "Bases de la educación cristiana.",
          "El perfil de IGLEPS.",
          "Aministración y liderazgo cristiano.",
          "Mayordomía bíblica / Finanzas bíblicas.",
          "Homilética básica.",
          "Apologética cristiana. (Sectas Falsas)",
          "Hermeneutica bíblica. (Básica)",
          "Teología práctica / Culto cristiano"
        ),
      })}
    />
    <CardOfertaTeologica
      title="Diploma en Estudios de Preparación Pastoral"
      duration="1 año"
      requirements={new Array(
        "Ser Pastor o Pastora.",
        "Ser Lider aspirante al ministerio.",
        "Tener la primaria o saber leer y escribir."
      )}
      studyPlan={new Array({
        year: "",
        subjects: new Array(
          "Homilética I.",
          "Inttroducción a la Biblia.",
          "Ética pastoral.",
          "Eclesiología.",
          "Reglamento general.",
          "Español I",
          "Administración pastoral y eclesial.",
          "Hermenéutica I",
          "Teoligía práctica / Culto cristiano"
        ),
      })}
    />
  </section>
</BaseLayout>
