---
import Navigation from "../components/Navigation.astro";
import banner from "../assets/bg_2.jpg";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="j4Fjv_8OlDgpMokyyArNPykV3Edzclll140djAYx7xs" />
    <title>{title}</title>
    <link href="https://css.gg/css" rel="stylesheet" />
  </head>
  <body>
    <Navigation />
    <section
      class="w-full h-[40vh] bg-cover flex flex-col justify-center items-center gap-4"
      style=`background: linear-gradient(to right, rgba(1, 6, 26, 0.8), rgba(1, 6, 26, 0.8)), url(${banner}); background-position: center;`
    >
      <h1 class="text-white font-bold text-3xl sm:text-5xl">{title}</h1>
      <p class="flex flex-row gap-2 items-center text-white">
        <a class="hover:text-rose-600 duration-300" href="/">Inicio</a>
        <i class="w-3 gg-arrow-long-right"></i>
        {title}
      </p>
    </section>
    <slot />
    <Footer />
  </body>
</html>
